@font-face {
  font-family: "myfont";
  src: url(../public/assets/font/FiraCode-SemiBold.ttf);
}
@font-face {
  font-family: "myfont1";
  src: url(../public/assets/font/Outfit-SemiBold.ttf);
}
@font-face {
  font-family: "myfont2";
  src: url(../public/assets/font/Righteous-Regular.ttf);
}

* {
  font-family: "myfont1";
}

.app {
  width: 100%;
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.mainBackground {
  background-color: rgba(84, 7, 209, 0.8);
}

#light {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#dark {
  background-color: rgb(46, 46, 48);
  color: white;
}
#dark .title {
  color: rgb(190, 202, 24);
}

#light .title {
  color: palevioletred;
}

#light .menu_btn {
  color: blue;
}

#light td {
  color: black;
}
#dark td {
  color: rgb(255, 255, 255);
}


.trending_coins:hover {
  transform: scale(110%);
  cursor: pointer;
  transition: 0.5s;
}

.coin_search:hover {
  transform: scale(103%);
  cursor: pointer;
  transition: 0.5s;
}

.btc_price {
  width: 5%;
}

.img_coin {
  width: 10%;
}

.switch {
  cursor: pointer;
}

.mobile_menu ul li {
  color: rgb(255, 255, 255);
}
.mobile_menu ul li:hover {
  background-color: rgb(141, 137, 145);
  border-radius: 50px;
  cursor: pointer;
}
.mobile_link {
  margin-top: 110%;
}

.email i {
  right: 35%;
}

.disabled {
  pointer-events: none !important;
  opacity: 30%;
}

@media screen and (max-width: 500px) {
  .pagination {
    font-size: 10px;
  }
}

.validation {
  border: 2px solid red;
}
